@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root{
        --accent: 245 58% 51%;
        --accent-foreground: 245 58% 51%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 96.1%;

        --secondary: 0 0% 15%;

        --pale: 0 0% 64%;
        --pale-foreground: 0 0% 64%;

        --safe: 142 72% 29%;
        --safe-foreground: 142 76% 36%;

        --danger: 0 74% 42%;
        --danger-foreground: 0 72% 51%;

        --link: 234 89% 74%;
        --link-foreground: 239 84% 67%;

        --selected-foreground: 237 87% 70%;

        --shadow: 0 0% 0%;

        --active: 0 0% 20%;

        --skeleton: 0 0% 45%;

        --border: 0 0% 45%;
    }
}
